@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;  /* slate-50 */
    --foreground: 215.3 25% 26.7%; /* slate-700 */

    --muted: 213.3 96.9% 87.3%; /* blue-200 */
    --muted-foreground: 215.3 19.3% 34.5%;  /* slate-600 */

    --popover: 210 40% 98%;  /* slate-50 */
    --popover-foreground: 215.3 25% 26.7%; /* slate-700 */

    --border: 211.7 96.4% 78.4%; /* blue-300 */
    --input: 211.7 96.4% 78.4%; /* blue-300 */

    --card: 210 40% 98%;  /* slate-50 */
    --card-foreground: 215.3 25% 26.7%; /* slate-700 */

    --primary: 221.2 83.2% 53.3%; /* blue-600 */
    --primary-foreground: 210 40% 96.1%;  /* slate-100 */

    --secondary: 213.3 96.9% 87.3%; /* blue-200 */
    --secondary-foreground: 215.3 25% 26.7%; /* slate-700 */

    --accent: 213.3 96.9% 87.3%; /* blue-200 */
    --accent-foreground: 215.3 25% 26.7%; /* slate-700 */

    --destructive: 0 84.2% 60.2%;  /* red-500 */
    --destructive-foreground: 210 40% 96.1%;  /* slate-100 */

    --ring: 221.2 83.2% 53.3%; /* blue-600 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;  /* slate-900 */
    --foreground: 210 40% 96.1%;  /* slate-100 */

    --muted: 224.4 64.3% 32.9%; /* blue-900 */
    --muted-foreground: 215.4 16.3% 46.9%;  /* slate-500 */

    --accent: 224.3 76.3% 48%; /* blue-700 */
    --accent-foreground: 210 40% 96.1%;  /* slate-100 */

    --popover: 222.2 47.4% 11.2%;  /* slate-900 */
    --popover-foreground: 210 40% 96.1%;  /* slate-100 */

    --border: 224.3 76.3% 48%; /* blue-700 */
    --input: 224.3 76.3% 48%; /* blue-700 */

    --card: 215.3 25% 26.7%; /* slate-700 */
    --card-foreground: 210 40% 96.1%;  /* slate-100 */

    --primary: 224.3 76.3% 48%; /* blue-700 */
    --primary-foreground: 210 40% 96.1%;  /* slate-100 */

    --secondary: 215.3 25% 26.7%; /* slate-700 */
    --secondary-foreground: 210 40% 96.1%;  /* slate-100 */

    --destructive: 0 72.2% 50.6%; /* red-600 */
    --destructive-foreground: 210 40% 96.1%;  /* slate-100 */

    --ring: 224.3 76.3% 48%; /* blue-700 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
